<!DOCTYPE html>
<html>


<body class="font-medium">

<header class="shoppingHeader py-1 px-md-5 px-sm-1 sticky-top">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 text-right">
                    <li class="nav-item px-3 mx-auto">
                        <div class="input-group-prepend">
                            <button onclick="location.href='/cart'" class="btn btn-outline-info">
                                <span id="number-of-products-added" class="pr-2"> ۳ </span>
                                <span class="border-left pl-3">سبد خرید</span>
                                <i class="fa fa-cart-plus"></i>
                            </button>
                        </div>
                    </li>
                    <li class="nav-item px-md-3">
                        <a class="nav-link" href="/register">ثبت نام / ورود</a>
                    </li>
                    <li class="nav-item px-md-3">
                        <a class="nav-link" href="/userDashboard">داشبورد کاربر</a>
                    </li>
                    <li class="nav-item px-md-3">
                        <a class="nav-link" href="/adminDashboard">داشبورد ادمین</a>
                    </li>
                    <li class="nav-item px-md-3">
                        <a class="nav-link" href="#" data-toggle="collapse" data-target="#categoryJumbotrun"
                           aria-expanded="true" aria-controls="categoryJumbotrun">
                            <span>دسته بندی ها</span>
                            <i class="fa fa-chevron-down"></i>
                        </a>

                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <div class="input-group mb-2 mr-sm-2 w-100 mt-1">
                        <div class="input-group-prepend">
                            <button class="btn btn-info">جستجو</button>
                        </div>
                        <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="جستجو">
                    </div>
                </form>
            </div>
            <a class="navbar-brand pl-3 text-secondary mx-auto" href="/">بادمجون
                <i class="fa fa-hotdog"></i>
            </a>
        </nav>
        <div id="categoryJumbotrun" class="collapse hide">
            <div class="container pt-5 pb-3">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-md-12 mb-5 text-center">
                            <span class="font-md text-info">دسته بندی ها</span>
                        </div>
                        <%
                        let mainCats = [];
                        let mainSubCats = [];
                        for (var j = 0; j < cats.length; j++) {
                            if (cats[j].level === 0) {
                                mainCats.push({
                                    category: cats[j],
                                    index: j
                                })
                            } else if (cats[j].level === 1) {
                                mainSubCats.push({
                                    category: cats[j],
                                    index: j
                                })
                            }
                        }
                        %>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <% for(var i = 0; i < mainCats.length; i++) { %>
                                    <div class="col-md-6">
                                        <button class="btn btn-info w-100 font-sm mb-4"
                                                data-toggle="collapse" data-target="#category<%= mainCats[i].index %>"
                                                role="button"
                                                aria-expanded="true" aria-controls="category<%= mainCats[i].index %>">
                                            <%= mainCats[i].category.name %>
                                        </button>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div id="accordion">
                                <% for(var k = 0; k < cats.length; k++) { %>
                                <% if(k == 0) { %>
                                <div id="category<%= k %>" class="collapse show" data-parent="#accordion">
                                    <% } else { %>
                                    <div id="category<%= k %>" class="collapse" data-parent="#accordion">
                                        <% } %>
                                        <div class="card card-body text-right">
                                            <div class="row justify-content-end">
                                                <div class="col-sm-6 col-lg-6 text-info">

                                                    <% for(var t = k + 1; t < cats.length; t++) { %>
                                                    <% if(cats[t].level !== 0) { %>
                                                    <p style="padding-right: <%= cats[t].level * 30 %>px">
                                                        <a><%= cats[t].name %> -</a>
                                                    </p>
                                                    <% } else {
                                                        k = t - 1;
                                                        break;
                                                    } %>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
</header>
