<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>داشبورد مشتری</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/myStyle2.css">
    <link rel="stylesheet" href="css/myStyle3.css">
    <link rel="stylesheet" href="css/Dashboard.css">
    <style>
        .myClickableThingy {
            cursor: pointer;
        }

        .success-message {
            background-color: white;
            border: 1px solid green;
            color: green;
            display: none;
            font-size: 12px;
            font-weight: bold;
            padding: 10px 10px;
            max-width: 250px;
            align-content: center;
            align-self: center;
            left: 50px;
            opacity: 100;
        }
    </style>
</head>

<body id="body" class="font-medium h-100">

<% include ../partials/header.ejs %>

<div id="overlay" onclick="openBar()"></div>
<aside id="sideBar" class="leftSide h-100 " style="background-color: white">

    <span class="" id="close" style="display: none;color: black;font-size: 1.75rem;cursor: pointer;"
          onclick="openBar()">
            <i class="fa fa-close" style="position: absolute; top: 20px; right: 35px;"></i>
        </span>

    <div id="User" class="pt-5" style="">
        <div class="card shadow">
            <div class="card-header bg-info text-white text-justify text-center " style="height: 45px">
                <div class="m-auto position-relative"
                     style="width: 65px;height: 65px;border-radius: 100%;background-color: #dddddd">
                    <i class="fa fa-user pt-1 position-absolute"
                       style="font-size: 2.5rem;z-index: 5;color: white;right: 22%;top: 7px;"></i>
                </div>
            </div>
            <div class="card-body position-relative" style="padding: 40px 0 0 0;">
                <div class="text-center position-relative">
                    <h6 class="" style="font-family: 'IranYekanBold', serif;color: #515151">عباس قادری</h6>
                </div>
                <div class="pt-3 container-fluid">
                    <div class="row text-center">
                        <div class="col-6 py-2" style="border: solid 1px #dddddd">
                            <span class="" style="color: #7aaf45; cursor: pointer;">
                                <h6 class="d-inline font-xs">تغییر رمز عبور</h6>
                                <i class="fa fa-edit font-xs"></i>
                            </span>
                        </div>
                        <div class="col-6 py-2" style="border: solid 1px #dddddd">
                            <span class="text-danger">
                                <h6 class="d-inline font-xs">
                                    <form action="/logout" method="post">
                                        <input type="submit" value="خروج">
                                    </form>
                                </h6>
                                <i class="fa fa-power-off font-xs"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="Datas" class="pt-5" style="">
        <div class="card shadow">
            <div class="card-header bg-info text-center text-white" style="height: 45px">
                <h6 class="d-inline">مدیریت</h6>
                <i class="fa fa-tasks"></i>
            </div>
            <div class="card-body " style="">
                <div class="text-right" style="direction: rtl;color: #515151">
                    <i class="fa fa-plus d-inline"></i>
                    <a onclick="openAllOrders()" class="d-inline myClickableThingy" style="font-size: 0.9rem">همه سفارش
                        ها</a>
                </div>
                <br>
                <div class="text-right" style="direction: rtl;color: #515151">
                    <i class="fa fa-plus d-inline"></i>
                    <a onclick="openFavorites()" class="d-inline myClickableThingy" style="font-size: 0.9rem">لیست علاقه
                        مندی ها</a>
                </div>
                <br>
                <div class="text-right" style="direction: rtl;color: #515151">
                    <i class="fa fa-plus d-inline"></i>
                    <a onclick="openEditAddresses()" class="d-inline myClickableThingy" id="new-orders"
                       style="font-size: 0.9rem">ویرایش آدرس ها</a>
                </div>
                <br>
                <div class="text-right" style="direction: rtl;color: #515151">
                    <i class="fa fa-plus d-inline"></i>
                    <a onclick="openEditInfo()" class="d-inline myClickableThingy" id="old-orders"
                       style="font-size: 0.9rem">ویرایش اطلاعات شخصی</a>
                </div>
            </div>
        </div>
    </div>

</aside>
<div class="bg-danger settings d-lg-none" style="right: 0;">
    <span id="setting" style="cursor: pointer" onclick="openBar()">
        <h6 style="writing-mode: vertical-lr;position: absolute; left: -35px; top: 10px">تنظیمات</h6>
    </span>
</div>
<main class="mt-5 main">
    <div class="container-fluid pt-4">
        <div class="card shadow mt-4" id="all-orders-dec">
            <div class="card-header bg-info text-center text-white">
                <h6 class="d-inline float-right pt-2">همه سفارش ها</h6>
            </div>
            <div class="card-body text-white">
                <div class="container">
                    <form id="delete-order-success-block" class="success-message">
                        <ul>
                            <li>سفارش با موفقیت حذف شد</li>
                        </ul>
                    </form>
                    <div class="accordion md-accordion accordion-blocks" id="order-1" role="tablist"
                         aria-multiselectable="true">
                        <% for (var i = 0; i < orders.length; i++) { %>
                        <div class="card shadow-lg my-4">
                            <div class="card-header bg-warning border-bottom" role="tab"
                                 id="order-header-<%= (i + 1) %>">
                                <% if (i == 0) { %>
                                <a data-toggle="collapse" data-parent="#order-1" class="text-white"
                                   href="#order-body-<%= (i + 1) %>" aria-expanded="true"
                                   aria-controls="collapseUnfiled">
                                    <% } else { %>
                                    <a data-toggle="collapse" data-parent="#order-1" class="text-white"
                                       href="#order-body-<%= (i + 1) %>" aria-expanded="true"
                                       aria-controls="order-body-<%= (i + 1) %>">
                                        <% } %>
                                        <h5 class="mt-1 mb-0 float-right">
                                            <i class="fa fa-angle-down rotate-icon mx-2"></i>
                                            <span>سفارش</span>
                                            <span>- <%=orders[i].orderNumber%></span>
                                        </h5>
                                    </a>
                                    <form method="POST" action="/order?_method=DELETE"> 
                                        <input type="hidden" name="orderId" value="<%=orders[i]._id%>">
                                        <input type="submit" value="حذف" class="btn btn-sm btn-danger float-left">
                                    </form>
                                    <button class="btn btn-sm btn-outline-info mx-3">
                                        <% if (orders[i].status == 'awaitsPayment') { %>
                                            <span>پرداخت</span>
                                        <% } %>
                                    </button>
                                </a>
                            </div>
                            <div id="order-body-<%= (i + 1) %>" class="collapse" role="tabpanel"
                                 aria-labelledby="order-header-<%= (i + 1) %>"
                                 data-parent="#order-1">
                                <div class="card-body border-bottom">
                                    <div class="card w-100 mb-3">
                                        <div class="card-body">
                                            <div class="container">
                                                <div class="row text-dark">
                                                    <div class="col-md-3 col-sm-6 ml-auto float-right">
                                                        <span class="float-right"> : آدرس  </span>
                                                        <br>
                                                        <span class="float-right"><%= orders[i].address %></span>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6 ml-auto float-right">
                                                        <span class="float-right">کد ملی : <strong><%= orders[i].nationalId %></strong></span>
                                                        <br>
                                                        <span class="float-right">استان : <strong>-</strong></span>
                                                        <br>
                                                        <span class="float-right">شهر : <strong>-</strong></span>
                                                        <br>
                                                        <span class="float-right">کد پستی : <strong>-</strong></span>
                                                        <br>
                                                        <span class="float-right">کد رهگیری : <strong><%= orders[i].trackingCode %></strong></span>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6 ml-auto float-right">
                                                        <span class="float-right">نام : <strong><%= orders[i].firstname %></strong></span>
                                                        <br>
                                                        <span class="float-right">نام خانوادگی : <strong><%= orders[i].lastname %></strong></span>
                                                        <br>
                                                        <span class="float-right">تلفن همراه : <strong><%= orders[i].phoneNumber %></strong></span>
                                                        <br>
                                                        <span class="float-right">تلفن ثابت : <strong><%= orders[i].homeNumber %></strong></span>
                                                        <br>
                                                        <span class="float-right">روش پرداخت : <strong><%= orders[i].paymentMethod %></strong></span>
                                                        <br>
                                                        <span class="float-right">روش ارسال : <strong><%= orders[i].shippingMethod %></strong></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-hover mb-0 mx-5">
                                            <thead>
                                            <tr class="font-sm">
                                                <th class="th-lg"><a>شماره</a></th>
                                                <th class="th-lg"><a>نام کالا</a></th>
                                                <th class="th-lg"><a>تعداد</a></th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <% for (j = 0; j < orders[i].products.length; j++) { %>
                                            <tr>
                                                <td class="pl-3"><%= (j + 1) %></td>
                                                <td>
                                                    <a href="product/<%=orders[i].products[j].productId._id%>" style="text-decoration: none">
                                                        <%= orders[i].products[j].productId.name %>
                                                    </a>
                                                </td>
                                                <td><strong><%= orders[i].products[j].quantity %></strong></td>
                                            </tr>
                                            <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow mt-4 d-none" id="favorites-dec">
            <div class="card-header bg-info text-center text-white">
                <h6 class="d-inline float-right pt-2">لیست علاقه مندی ها</h6>
                <form action="/userDashboard/fav/edit?_method=PUT" method="post">
                    <% for(var g=0;g<favorites.length;g++) { %>
                    <input type="checkbox" id="fav-<%=g%>-checkbox" checked name="favorites" value="<%=favorites[g]._id%>" hidden>
                    <% } %>
                    <input type="submit" class="btn btn-sm btn-outline-warning float-left" value="ذخیره">
                </form>
            </div>
            <div class="card-body text-white">
                <div class="container-fluid">
                    <div class="row h-100 text-center">
                        <% for(var y=0;y<favorites.length; y++) { %>
                            <div class="col-md-4 col-sm-6">
                            <div class="p-3">
                                <div class="card product-card">
                                    <img class="card-img-top" src="/<%=favorites[y].images[0]%>" alt="Card image cap">
                                    <div style="position: absolute" class="ml-1 mt-1">
                                        <button class="button button-like liked" id="fav-<%=y%>-like"
                                                style="width: 45px;height: 45px">
                                            <i class="fa fa-heart"></i>
                                        </button>
                                    </div>
                                    <i class="fa fa-plus add-to-cart-plus"></i>
                                    <div class="card-body text-dark">
                                        <h5 class="card-title"><a href="/product/<%=favorites[y]._id%>"
                                                                  style="text-decoration: none"><%=favorites[y].name%></a></h5>
                                        <p class="card-text font-light" style="font-size: 3vh"><%=favorites[y].price%> تومان</p>
                                        <a href="#" class="btn btn-success text-white">اضافه به سبد خرید
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow mt-4 d-none" id="edit-addresses-dec">
            <div class="card-header bg-info text-center text-white">
                <h6 class="d-inline float-right pt-2">ویرایش آدرس ها</h6>
            </div>
            <div class="card-body text-white">
                <div class="accordion md-accordion accordion-blocks" id="addresses" role="tablist"
                     aria-multiselectable="true">

                    <div class="card shadow-lg my-4">
                        <div class="card-header bg-success border-bottom" role="tab" id="new-address-header">
                            <a data-toggle="collapse" data-parent="#addresses" class="text-dark"
                               href="#new-address-body" aria-expanded="true"
                               aria-controls="collapseUnfiled">
                                <h5 class="mt-1 mb-0 float-right">
                                    <i class="fa fa-angle-down rotate-icon mx-2"></i>
                                    <span>افزودن آدرس</span>
                                </h5>
                            </a>
                        </div>
                        <div id="new-address-body" class="collapse" role="tabpanel" aria-labelledby="new-address-header"
                             data-parent="#addresses">
                            <div class="card-body border-bottom">
                                <div class="container">
                                    <form id="new-address-success-block" class="success-message">
                                        <ul>
                                            <li>آدرس جدید با موفقیت اضافه شد</li>
                                        </ul>
                                    </form>
                                    <!-- <form action="userDashboard/address" method="post"
                                          class="needs-validation text-dark" novalidate> -->
                                    <div class="form-row">
                                        <div class="col-md-3 mb-3">
                                            <label for="new-address-province" class="float-right">استان</label>
                                            <input type="text" name="province" class="form-control"
                                                   id="new-address-province"
                                                   placeholder="استان" required>
                                            <div class="invalid-feedback">
                                                <span>لطفا این بخش را پر کنید</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label for="new-address-city" class="float-right">شهر</label>
                                            <input type="text" class="form-control" name="city"
                                                   id="new-address-city" placeholder="شهر" required>
                                            <div class="invalid-feedback">
                                                <span>لطفا این بخش را پر کنید</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label for="new-address-phone" class="float-right">تلفن ثابت</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="homePhone"
                                                       pattern="0[0-9]{10}"
                                                       id="new-address-phone" placeholder="تلفن ثابت (با پیش‌شماره شهر)"
                                                       aria-describedby="inputGroupPrepend" required>
                                                <div class="invalid-feedback">
                                                    <span>لطفا این بخش را پر کنید</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label for="new-address-postal-code" class="float-right">کد پستی</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="postalCode"
                                                       id="new-address-postal-code" placeholder="کد پستی"
                                                       aria-describedby="inputGroupPrepend" required>
                                                <div class="invalid-feedback">
                                                    <span>لطفا این بخش را پر کنید</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mb-3">
                                            <label for="new-address-address" class="float-right">آدرس</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="address"
                                                       id="new-address-address" required>
                                                <div class="invalid-feedback">
                                                    <span>لطفا این بخش را پر کنید</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button id="addAddressButton" class="btn btn-success text-dark font-xs"
                                            type="submit">افزودن
                                    </button>
                                    <!-- </form> -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card shadow-lg my-4">
                        <div class="card-header bg-light border-bottom" role="tab" id="address-1-header">
                            <a data-toggle="collapse" data-parent="#addresses" class="text-dark"
                               href="#address-1-body" aria-expanded="true"
                               aria-controls="collapseUnfiled">
                                <h5 class="mt-1 mb-0 float-right">
                                    <i class="fa fa-angle-down rotate-icon mx-2"></i>
                                    <span>آدرس ۱</span>
                                </h5>
                            </a>
                            <!-- <form action="userDashboard/address/id?_method=DELETE" method="post"> -->
                            <button id="removeAddressButton" class="btn btn-sm btn-danger float-left"> حذف</button>
                            <!-- </form> -->
                        </div>
                        <div id="address-1-body" class="collapse" role="tabpanel" aria-labelledby="address-1-header"
                             data-parent="#addresses">
                            <div class="card-body border-bottom">
                                <div class="container">
                                    <form id="delete-address-success-block" class="success-message">
                                        <ul>
                                            <li>آدرس با موفقیت حذف شد</li>
                                        </ul>
                                    </form>
                                    <form id="change-address-success-block" class="success-message">
                                        <ul>
                                            <li>آدرس با موفقیت تغییر یافت</li>
                                        </ul>
                                    </form>
                                    <!-- <form method="post" action="userDashboard/address/id?_method=PUT"
                                          class="needs-validation text-dark" novalidate> -->
                                    <div class="form-row">
                                        <div class="col-md-3 mb-3">
                                            <label for="address-1-province" class="float-right">استان</label>
                                            <input type="text" class="form-control" id="address-1-province"
                                                   placeholder="استان" required>
                                            <div class="invalid-feedback">
                                                <span>لطفا این بخش را پر کنید</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label for="address-1-city" class="float-right">شهر</label>
                                            <input type="text" class="form-control" id="address-2-city"
                                                   placeholder="شهر" required>
                                            <div class="invalid-feedback">
                                                <span>لطفا این بخش را پر کنید</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label for="address-1-phone" class="float-right">تلفن ثابت</label>
                                            <div class="input-group">
                                                <input type="tel" class="form-control" id="address-2-phone"
                                                       pattern=0[0-9]{10}
                                                       placeholder="تلفن ثابت (با پیش‌شماره‌ شهر)"
                                                       aria-describedby="inputGroupPrepend"
                                                       required>
                                                <div class="invalid-feedback">
                                                    <span>لطفا این بخش را پر کنید</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label for="address-1-postal-code" class="float-right">کد پستی</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="address-1-postal-code"
                                                       placeholder="کد پستی" aria-describedby="inputGroupPrepend"
                                                       required>
                                                <div class="invalid-feedback">
                                                    <span>لطفا این بخش را پر کنید</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mb-3">
                                            <label for="address-1-address" class="float-right">آدرس</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="address-2-address"
                                                       required>
                                                <div class="invalid-feedback">
                                                    <span>لطفا این بخش را پر کنید</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button id="changeAddressButton" class="btn btn-warning font-xs" type="submit">
                                        ذخیره
                                    </button>
                                    <!-- </form> -->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="card shadow mt-4 d-none" id="edit-info-dec">
            <div class="card-header bg-info text-center text-white">
                <h6 class="d-inline float-right pt-2">ویرایش اطلاعات شخصی</h6>
            </div>
            <div class="card-body text-white">
                <div class="container">
                    <form id="change-info-success-block" class="success-message">
                        <ul>
                            <li>تغییرات با موفقیت انجام شد</li>
                        </ul>
                    </form>
                    <!-- action="/userDashboard/info?_method=PUT" -->
                    <!-- method="post" -->
                    <!-- <form  class="needs-validation text-dark" novalidate> -->
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label for="user-info-first-name" class="float-right">نام</label>
                            <input type="text" name="firstname" class="form-control"
                                   id="user-info-first-name" placeholder="نام" required>
                            <div class="valid-feedback">
                                <span>لطفا این بخش را پر کنید</span>
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="user-info-last-name" class="float-right">نام خانوادگی</label>
                            <input type="text" name="lastname" class="form-control"
                                   id="user-info-last-name" placeholder="نام خانوادگی" required>
                            <div class="valid-feedback">
                                <span>لطفا این بخش را پر کنید</span>
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="user-info-username" class="float-right">نام کاربری</label>
                            <div class="input-group">
                                <input type="text" name="username" class="form-control"
                                       id="user-info-username" placeholder="نام کاربری"
                                       aria-describedby="inputGroupPrepend" required>
                                <div class="invalid-feedback">
                                    <span>لطفا این بخش را پر کنید</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="user-info-password" class="float-right">رمز عبور</label>
                            <div class="input-group">
                                <input type="password" name="password" class="form-control" id="user-info-password"
                                       placeholder="رمز عبور" aria-describedby="inputGroupPrepend" required>
                                <div class="invalid-feedback">
                                    <span>لطفا این بخش را پر کنید</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="user-info-email" class="float-right">ایمیل</label>
                            <input type="email" name="email" class="form-control"
                                   id="user-info-email" placeholder="ایمیل" required>
                            <div class="invalid-feedback">
                                <span>لطفا این بخش را پر کنید</span>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="user-info-phone" class="float-right">تلفن همراه</label>
                            <input type="tel" class="form-control" name="phone" pattern="09[0-9]{9}"
                                   id="user-info-phone" placeholder="تلفن همراه" required>
                            <div class="invalid-feedback">
                                <span>لطفا این بخش را پر کنید</span>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="user-info-id-number" class="float-right">کد ملی</label>
                            <input type="text" class="form-control" name="idNumber"
                                   id="user-info-id-number" placeholder="کد ملی" required>
                            <div class="invalid-feedback">
                                <span>لطفا این بخش را پر کنید</span>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-warning my-3" type="submit" id="submitButton">ذخیره</button>
                    <!-- </form> -->
                </div>
            </div>
        </div>
    </div>
</main>
<script src="js/jquery2_2.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>

<!-- manages deletion of an order. -->
<script>
    const removeOrderButton = document.getElementById("removeOrderButton");
    removeOrderButton.addEventListener('click', () => {
        const id = removeOrderButton._id;
        fetch('http://localhost:3000/order/' + toString(id),
            {
                method: 'DELETE',
                body: JSON.stringify({
                    id: id
                }),
                headers: {'Content-Type': 'application/json'}
            }).then((res) => {
            if (res.status === 201) {
                const successBlock = document.getElementById("delete-order-success-block");
                successBlock.style.display = "block";
                successBlock.style.color = "red";
                successBlock.border = "1px solid red";
                setTimeout(() => {
                    successBlock.style.display = "none";
                }, 3000);

            }
        });
    });

</script>

<!-- manages changes in address info. -->
<script>
    const changeAddressButton = document.getElementById("changeAddressButton");
    changeAddressButton.addEventListener('click', () => {
        const province = document.getElementById("address-1-province"),
            city = document.getElementById("address-1-city"),
            postalcode = document.getElementById("address-1-postal-code"),
            homePhone = document.getElementById("address-1-phone"),
            address = document.getElementById("address-1-address"),
            id = changeAddressButton._id;
        fetch('http://localhost:3000/address/' + toString(id),
            {
                method: 'PUT',
                body: JSON.stringify({
                    province: province,
                    city: city,
                    postalcode: postalcode,
                    homePhone: homePhone,
                    address: address,
                    id: id
                }),
                headers: {'Content-Type': 'application/json'}
            }).then((res) => {
            if (res.status === 201) {
                const successBlock = document.getElementById("change-address-success-block");
                successBlock.style.display = "block";
                setTimeout(() => {
                    successBlock.style.display = "none";
                }, 3000);

            }
        });
    });

</script>


<!-- manages deletion of an adress  -->
<script>
    const removeAddressButton = document.getElementById("removeAddressButton");
    removeAddressButton.addEventListener('click', () => {
        const id = removeAddressButton._id;
        fetch('http://localhost:3000/address/' + toString(id),
            {
                method: 'DELETE',
                body: JSON.stringify({
                    id: id
                }),
                headers: {'Content-Type': 'application/json'}
            }).then((res) => {
            if (res.status === 201) {
                const successBlock = document.getElementById("delete-address-success-block");
                successBlock.style.display = "block";
                successBlock.style.color = "red";
                successBlock.border = "1px solid red";
                setTimeout(() => {
                    successBlock.style.display = "none";
                }, 3000);

            }
        });
    });

</script>


<!-- manages the adding of a new address  -->
<script>
    const addAddressButton = document.getElementById("addAddressButton");
    addAddressButton.addEventListener('click', () => {
        const province = document.getElementById("new-address-province"),
            city = document.getElementById("new-address-city"),
            postalcode = document.getElementById("new-address-postal-code"),
            homePhone = document.getElementById("new-address-phone"),
            address = document.getElementById("new-address-address");
        fetch('http://localhost:3000/userDashboard/address',
            {
                method: 'POST',
                body: JSON.stringify({
                    province: province,
                    city: city,
                    postalcode: postalcode,
                    homePhone: homePhone,
                    address: address
                }),
                headers: {'Content-Type': 'application/json'}
            }).then((res) => {
            if (res.status === 201) {
                const successBlock = document.getElementById("new-address-success-block");
                successBlock.style.display = "block";
                setTimeout(() => {
                    successBlock.style.display = "none";
                }, 3000);

            }
        });

    });

</script>

<!-- manages changes in user info. -->
<script>
    const submit = document.getElementById("submitButton");
    submit.addEventListener('click', () => {
        const firstname = document.getElementById("user-info-first-name").value,
            lastname = document.getElementById("user-info-last-name").value,
            username = document.getElementById("user-info-username").value,
            password = document.getElementById("user-info-password").value,
            email = document.getElementById("user-info-email").value,
            phone = document.getElementById("user-info-phone").value,
            idNumber = document.getElementById("user-info-id-number").value;
        // console.log(firstname);
        fetch('http://localhost:3000/userDashboard/info',
            {
                method: 'PUT',
                body: JSON.stringify({
                    firstname: firstname,
                    lastname: lastname,
                    username: username,
                    password: password,
                    email: email,
                    phone: phone,
                    idNumber: idNumber,
                }),
                headers: {'Content-Type': 'application/json'}
            }).then((res) => {
            console.log(res.status);
            if (res.status === 201) {
                const successBlock = document.getElementById("change-info-success-block");
                successBlock.style.display = "block";
                setTimeout(() => {
                    successBlock.style.display = "none";
                }, 3000);
                // setInterval( () => {
                //  successBlock.style.opacity = max;
                //     max = max-20;
                // },2000);
            }
            // return res.json();
        });
        // ).then(json => {
        //     console.log(json.message);
        // });
    })
</script>
<script>
    function openBar() {
        if (document.getElementById("sideBar").classList.contains("leftSideOpen")) {
            // document.getElementById("sideBar").style.width = "75%";
            // document.getElementById("sideBar").style.paddingLeft = "35px";
            // document.getElementById("sideBar").style.paddingRight = "35px";
            // document.getElementById("sideBar").style.paddingBottom = "85px";
            document.getElementById("sideBar").classList.remove("leftSideOpen");
            document.getElementById("body").classList.remove("hidedBody");
            document.getElementById("body").classList.add("shoppingBody");
            document.getElementById("body").classList.add("shoppingBody");
            document.getElementById("overlay").style.display = "none";
            document.getElementById("setting").style.display = "";
            setTimeout(function () {
                document.getElementById("close").style.display = "none";
            }, 500);
        } else {
            console.log(document.getElementById("overlay").style.display);
            document.getElementById("sideBar").classList.add("leftSideOpen");
            document.getElementById("body").classList.add("hidedBody");
            document.getElementById("body").classList.remove("shoppingBody");
            document.getElementById("overlay").style.display = "block";
            document.getElementById("setting").style.display = "block";
            document.getElementById("close").style.display = "block";
        }
    }

    function openAllOrders() {
        $('#all-orders-dec').removeClass('d-none');
        $('#favorites-dec').addClass('d-none');
        $('#edit-addresses-dec').addClass('d-none');
        $('#edit-info-dec').addClass('d-none');
    }

    function openFavorites() {
        $('#all-orders-dec').addClass('d-none');
        $('#favorites-dec').removeClass('d-none');
        $('#edit-addresses-dec').addClass('d-none');
        $('#edit-info-dec').addClass('d-none');
    }

    function openEditAddresses() {
        $('#all-orders-dec').addClass('d-none');
        $('#favorites-dec').addClass('d-none');
        $('#edit-addresses-dec').removeClass('d-none');
        $('#edit-info-dec').addClass('d-none');
    }

    function openEditInfo() {
        $('#all-orders-dec').addClass('d-none');
        $('#favorites-dec').addClass('d-none');
        $('#edit-addresses-dec').addClass('d-none');
        $('#edit-info-dec').removeClass('d-none');
    }

    $(function () {
        <% for(var x=0; x<favorites.length; x++) { %>
            $('#fav-' + <%=x%> + '-like')
                .bind('click', function (event) {
                    $("#fav-" + <%=x%> + "-like").toggleClass("liked");
                    $("#fav-" + <%=x%> + "-checkbox").click();
                });
        <% } %>

    });

    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            const validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();


</script>
</body>
</html>