<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- pageTitle %></title>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/myStyle.css">
    <link rel="stylesheet" href="/css/myStyle2.css">
    <style>
        img {
            height: auto;
            max-width: 100%;
        }
    </style>
</head>
<body id="body" class="shoppingBody font-medium">

<div id="overlay" onclick="openBar()"></div>

<% include ../partials/header.ejs %>

<aside id="sideBar" class="leftSide h-100 float-left" style="">
        <span class="" id="close" style="display: none;color: black;font-size: 1.75rem;cursor: pointer;"
              onclick="openBar()">
            <i class="fa fa-close" style="position: absolute; top: 20px; right: 35px;"></i>
        </span>
    <form>
        <button type="submit" class="btn btn-danger w-100 mt-5">فیلتر</button>
        <div class="separator" style="padding-top: 25px">
            <h5>
                <b>
                    قیمت
                </b>
            </h5>
            <label class="w-100 d-flex">
                <input onchange="setRange()" id="priceRange" type="range" name="price" min="1000" max="100000"
                       value="<%= price %>" class="mt-4 slider d-inline" style="width: 500px">
                <h5 id="priceLabel" class="d-inline mt-3 ml-2"><%- price %></h5>
            </label>
        </div>

        <div class="separator">
            <h5>
                <b>
                    رنگ
                </b>
            </h5>

            <div class="mt-4">
                <label class="cartCustomRadioContainer">مشکی
                    <% if (colors.includes("#000000") && colorsFiltered) { %>
                        <input value="#000000" type="checkbox" checked="checked" name="color[]">
                    <% } else { %>
                        <input value="#000000" type="checkbox" name="color[]">
                    <% } %>
                    <span class="cartCustomCheckMark"></span>
                </label>
                <label class="cartCustomRadioContainer">قرمز
                    <% if (colors.includes("#ff0000") && colorsFiltered) { %>
                        <input value="#ff0000" type="checkbox" checked="checked" name="color[]">
                    <% } else { %>
                        <input value="#ff0000" type="checkbox" name="color[]">
                    <% } %>
                    <span class="cartCustomCheckMark"></span>
                </label>
                <label class="cartCustomRadioContainer">آبی
                    <% if (colors.includes("#0080ff") && colorsFiltered) { %>
                        <input value="#0080ff" type="checkbox" checked="checked" name="color[]">
                    <% } else { %>
                        <input value="#0080ff" type="checkbox" name="color[]">
                    <% } %>
                    <span class="cartCustomCheckMark"></span>
                </label>
                <label class="cartCustomRadioContainer">سبز
                    <% if (colors.includes("#00ff00") && colorsFiltered) { %>
                        <input value="#00ff00" type="checkbox" checked="checked" name="color[]">
                    <% } else { %>
                        <input value="#00ff00" type="checkbox" name="color[]">
                    <% } %>
                    <span class="cartCustomCheckMark"></span>
                </label>
            </div>
        </div>

        <div class="separator">
            <h5>
                <b>
                    برند
                </b>
            </h5>

            <div class="mt-4">
                <label class="cartCustomRadioContainer">samsung
                    <% if (brands.includes("samsung") && brandsFiltered) { %>
                        <input type="checkbox" checked="checked" value="samsung" name="brand[]">
                    <% } else { %>
                        <input type="checkbox" value="samsung" name="brand[]">
                    <% } %>
                    <span class="cartCustomCheckMark"></span>
                </label>
                <label class="cartCustomRadioContainer">LG
                    <% if (brands.includes("LG") && brandsFiltered) { %>
                        <input type="checkbox" value="LG" checked="checked" name="brand[]">
                    <% } else { %>
                        <input type="checkbox" value="LG" name="brand[]">
                    <% } %>
                    <span class="cartCustomCheckMark"></span>
                </label>
                <label class="cartCustomRadioContainer">Apple
                    <% if (brands.includes("Apple") && brandsFiltered) { %>
                        <input type="checkbox" value="Apple" checked="checked" name="brand[]">
                    <% } else { %>
                        <input type="checkbox" value="Apple" name="brand[]">
                    <% } %>
                    <span class="cartCustomCheckMark"></span>
                </label>
                <label class="cartCustomRadioContainer">HTC
                    <% if (brands.includes("HTC") && brandsFiltered) { %>
                        <input type="checkbox" value="HTC" checked="checked" name="brand[]">
                    <% } else { %>
                        <input type="checkbox" value="HTC" name="brand[]">
                    <% } %>
                    <span class="cartCustomCheckMark"></span>
                </label>
            </div>
        </div>
        <div class="mb-5">
            <button type="submit" class="btn btn-danger w-100 mt-5 mb-5">فیلتر</button>
        </div>
    </form>
</aside>
<div class="bg-danger settings d-lg-none" style="">
    <span id="setting" style="cursor: pointer" onclick="openBar()">
        <h6 style="writing-mode: vertical-lr;position: absolute; left: -35px; top: 10px">تنظیمات</h6>
    </span>
</div>

<main class="d-inline-block main" style="">
    <div class="w-100 pt-2" style="">
        <div class="position-relative pb-0 ml-3 mt-3">
            <a href="/cats?page=1" class="d-inline mr-1" style="color: gray">
                <i class="fa fa-home d-inline" style=""></i>
            </a>
            <!--<div class="d-inline vl" style=""></div>-->
            <!--<% for (let path of paths) { %>-->
                <!--<a href="#" class="ml" style="color: gray"><%= path %></a>-->
                <!--<div class="d-inline vl" style=""></div>-->
            <!--<% } %>-->
        </div>
    </div>

    <div class="container-fluid mt-4 pb-3 align-items-center position-relative text-md-center text-left pl-5 pl-md-0">
        <h6 class="d-inline-block float-right mt-2 position-absolute" style="right: 40px;top: -10px">:مرتب سازی</h6>
        <form action="/cats/<%= dir %>" method="get" class="mr-3 position-absolute" style="right: 120px; top: -10px;">
            <button type="submit" class="btn btn-outline-success">اعمال</button>
            <label>
                <select name="sort" class="custom-select" style="width: 8rem; direction: rtl;">
                    <% if(sort === 'new')  { %>
                        <option selected="selected" value="new">جدیدترین</option>
                    <% } else { %>
                        <option value="new">جدیدترین</option>
                    <% } %>
                    <% if(sort === 'popular')  { %>
                        <option selected="selected" value="popular">محبوب ترین</option>
                    <% } else { %>
                        <option value="popular">محبوب ترین</option>
                    <% } %>
                    <% if(sort === 'cheap')  { %>
                        <option selected="selected" value="cheap">ارزان ترین</option>
                    <% } else { %>
                        <option value="cheap">ارزان ترین</option>
                    <% } %>
                    <% if(sort === 'exp')  { %>
                        <option selected="selected" value="exp">گران ترین</option>
                    <% } else { %>
                        <option value="exp">گران ترین</option>
                    <% } %>
                    مرتب سازی</select>
            </label>
        </form>
        <h6 class="d-block">نمایش <%= start %> از <%= count %></h6>
    </div>
    <div class="container-fluid">
        <div class="row h-100 text-center">
            <% for (let product of prods) { %>
                <div class="col-md-4 col-sm-6">
                    <div class="p-3">
                        <div class="card product-card">
                            <img class="card-img-top" src="/<%= product.images[0] %>" alt="Card image cap"
                                 style="height: 300px">
                            <i class="fa fa-plus add-to-cart-plus"></i>
                            <a href="/product/<%= product._id %>" class="card-body text-decoration-none"
                               style="color: black">
                                <h5 class="card-title"><%= product.name %></h5>
                                <div class="d-inline">
                                    <p dir="" class="card-text font-light" style="font-size: 3vh"> <%= product.price %>
                                        تومان</p>
                                </div>
                                <a id="" href="#" class="btn btn-success text-white">اضافه به سبد خرید
                                    <i class="fa fa-plus"></i>
                                </a>
                            </a>
                        </div>
                    </div>
                </div>
            <% } %>

        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <%
            let colorPage = "";
            let brandPage = "";
            if (colorsFiltered) {
                for (color of colors) {
                    colorPage += '&color%5B%5D=' + color.replace('#','%23');
                }
            }
            if (brandsFiltered) {
                for (brand of brands) {
                    brandPage += '&brand%5B%5D=' + brand;
                }
            }
            %>
            <li class="page-item">
                <a class="page-link" href="/cats/<%= dir ;%>?page=1&sort=<%= sort %>&price=<%= price %><%=colorPage%><%=brandPage%>">
                    first
                </a>
            </li>
            <% for (i = 4;i > 0; i--) {
                let cur = +page - +i;
                if (cur < 1) {
                    continue;
                } %>
            <li class="page-item">
                <a class="page-link" href="/cats/<%= dir %>?page=<%= cur %>&sort=<%= sort %>&price=<%= price %><%=colorPage%><%=brandPage%>">
                    <%- cur %>
                </a>
            </li>
            <% } %>
            <li class="page-item">
                <a class="page-link bg-info" href="/cats/<%= dir %>?page=<%= page %>&sort=<%= sort %>&price=<%= price %><%=colorPage%><%=brandPage%>">
                    <%- page %>
                </a></li>
            <% for (i = 1;i < 4; i++) {
                let cur = +page + +i;
                if (cur > lastPage) {
                    break;
                } %>
            <li class="page-item">
                <a class="page-link" href="/cats/<%= dir %>?page=<%= cur %>&sort=<%= sort %>&price=<%= price %><%=colorPage%><%=brandPage%>">
                    <%- cur %>
                </a>
            </li>
            <% } %>
            <li class="page-item">
                <a class="page-link" href="/cats/<%= dir %>?page=<%= lastPage %>&sort=<%= sort %>&price=<%= price %><%=colorPage%><%=brandPage%>">
                    last
                </a>
            </li>
        </ul>
    </nav>

</main>

<script>
    function setRange() {
        console.log('foo')
        console.log(document.getElementById('priceRange').value)
        console.log(document.getElementById('priceLabel').value)
        document.getElementById('priceLabel').innerText = document.getElementById('priceRange').value;
    }
</script>
<script src="/js/jquery2_2.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/js/ShJS.js"></script>

</body>
</html>