<!DOCTYPE html>
<html>
<head>
    <title>تی شرت خفن</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/slick.css">
    <link rel="stylesheet" type="text/css" href="/css/slick-theme.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="css/myStyle.css">-->
    <link rel="stylesheet" href="/css/myStyle2.css">
    <link rel="stylesheet" href="/css/myStyle3.css">
    <link href="/css/filepond.css" rel="stylesheet">
    <script src="/js/filepond-plugin-file-validate-type.js"></script>
    <link href="/css/filepond-plugin-image-preview.css" rel="stylesheet">

    <style type="text/css">
        html, body {
            background-color: white;
            color: black;
        }
        * {
            box-sizing: border-box;
        }
        .slider {
            margin: auto;
            width: 75%;
        }
        .slick-slide img {
            width: 100%;
        }
        .dropPage {
            position: absolute;
            top: -200%;
            height: 100%;
            width: 100%;
            z-index: 3000;
            transition: 0.5s;
        }
        textarea::placeholder {
            text-align: right;
        }
        .checked {
            color: orange;
        }

    </style>
</head>

<body class="font-medium">

<% if(user) if(user.isAdmin) { %>
<div id="editProduct" class="dropPage" style="display: none">
    <div class="card shadow " style="">
        <div class="card-header bg-info text-center text-white" style="height: 45px">
                <span class="float-right mb-3" style="color: white;font-size: 1.75rem;cursor: pointer;"
                      onclick="packThePage('editProduct')">
            <i class="fa fa-minus" style="position: absolute; top: 10px; right: 35px;"></i>
        </span>
            <h6 class="d-inline">ویرایش کالا</h6>
            <i class="fa fa-edit" style="font-size: 1.5rem"></i>
        </div>
        <div class="card-body">
            <div id="" class="">
                <div class="container">
                    <div class="col-sm-12 mt-5 text-center">
                        <form method="post" action="/product/<%=product._id%>?_method=PUT">
                            <div class="card shadow w-100">
                                <div class="card-header font-sm mb-1 py-3 d-inline px-0" style="direction: rtl">
                                    <!--<h5 class="font-sm mb-1 p-4 d-inline">کد کالا :</h5>-->
                                    <h5>مشخصات اصلی</h5>
                                </div>
                                <div class="card-body px-0">
                                    <div class="" style="direction: rtl">
                                        <input type="text" name="productID" value="<%=product.productID%>"
                                               class="form-control d-inline w-75">
                                    </div>
                                    <hr>
                                    <div class="" style="direction: rtl">
                                        <input type="text" name="name" value="<%=product.name%>"
                                               class="form-control d-inline w-75">
                                    </div>
                                    <hr>
                                    <div style="direction: rtl">
                                        <select name="status" type=""
                                                class="form-control d-inline w-75">
                                            <% if(product.status === 'available') { %>
                                            <option value="available" class="" style="" selected>موجود</option>
                                            <option value="unavailable" class="" style="">ناموجود</option>
                                            <option value="soon" class="" style="">به زودی</option>
                                            <% } %>
                                            <% if(product.status === 'unavailable') { %>
                                            <option value="available" class="" style="">موجود</option>
                                            <option value="unavailable" class="" style="" selected>ناموجود</option>
                                            <option value="soon" class="" style="">به زودی</option>                                            <% } %>
                                            <% if(product.status === 'soon') { %>
                                            <option value="available" class="" style="">موجود</option>
                                            <option value="unavailable" class="" style="">ناموجود</option>
                                            <option value="soon" class="" style="" selected>به زودی</option>
                                            <% } %>
                                        </select>
                                    </div>
                                    <hr>
                                    <div style="direction: rtl">
                                        <input type="number" name="price" min="0" step="500" value="<%=product.price%>"
                                               class="form-control d-inline w-75">
                                    </div>
                                    <hr>
                                    <div style="direction: rtl">
                                        <input type="number" name="discount" min="0" max="100" value="<%=product.discount%>"
                                               class="form-control d-inline w-75">
                                    </div>
                                    <hr>
                                    <div style="direction: rtl">
                                        <input type="number" name="remainingNumber" min="0" value="<%=product.remainingNumber%>"
                                               class="form-control d-inline w-75">
                                    </div>
                                </div>
                                <div class="card-header font-sm mb-1 py-3 d-inline px-0" style="direction: rtl">
                                    <h5>رنگ</h5>
                                </div>
                                <div id="color" class="card-body px-0">
                                    <div style="direction: rtl">
                                            <input type="color" name="colors" value=""
                                            class="form-control d-inline w-75">
                                    </div>
                                    <hr>
                                    <a onclick="addColor()" class="btn btn-info text-white"
                                       style="width: 120px; cursor: pointer;">
                                        افزودن رنگ
                                    </a>
                                </div>
                                <div class="card-header font-sm mb-1 py-3 d-inline px-0" style="direction: rtl">
                                    <h5>عکس</h5>
                                </div>
                                <div id="photo" class="card-body px-0">
                                    <input type="file" accept="image/*" multiple>
                                </div>
                                <div class="card-header font-sm mb-1 py-3 d-inline px-0" style="direction: rtl">
                                    <h5>دسته بندی</h5>
                                </div>
                                <div id="cat" class="card-body px-0">
                                    <div style="direction: rtl">
                                        <select type="text" name="category" class="form-control d-inline w-75">
                                            <% for(var i=0;i<cats.length; i++) { %>
                                                <% if(product.category === cats[i]['_id']) { %>
                                                    <option selected><%=cats[i].name%></option>
                                                <% } else { %>
                                                    <option><%=cats[i].name%></option>
                                                <% } %>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>
                                <br>
                                    <div class="card-header font-sm mb-1 py-3 d-inline px-0" style="direction: rtl">
                                        <h5>توضیحات</h5>
                                    </div>
                                    <br>
                                    <div class="" style="direction: rtl">
                                        <textarea rows="5" name="description"
                                               class="form-control d-inline w-75"><%=product.description%></textarea>
                                    </div>
                                <br>
                                <div class="card-header font-sm mb-1 py-3 d-inline px-0" style="direction: rtl">
                                    <h5>سایر</h5>
                                </div>
                                <div id="other" class="card-body px-0">
                                    <div style="direction: rtl">
                                        <% for(var j=0;j<product.properties.length; j++) { %>
                                            <input type="text" name="property" class="form-control d-inline w-25"
                                                   value="<%=product.properties[j].key%>">
                                            <input type="text" name="property" class="form-control d-inline w-50"
                                                   value="<%=product.properties[j].value%>">
                                        <% } %>
                                    </div>
                                    <hr>
                                    <a onclick="addOther()" class="btn btn-info text-white"
                                       style="width: 120px; cursor: pointer;">
                                        افزودن
                                    </a>
                                </div>
                                <div class="card-footer font-sm mb-1 p-2 text-center">
                                    <button type="submit" class="btn btn-info text-white">
                                        <i class="fa fa-plus font-md pt-1"></i>
                                    </button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<% } %>

<% include ../partials/header.ejs %>

<div id="product-body" class="my-5">
    <div class="container">
        <div class="row  text-center">
            <div class="col-md-7 col-sm-12 mt-5">
                <div class="img-magnifier-container mb-5">
                    <img id="myimage" src="/<%=product.images[0]%>" width="400">
                </div>
                <div class="row justify-content-center mr-5">
                    <% var f = 0;%>
                    <% product.images.forEach(function (image) { %>
                        <div class="col-md-2 mx-4">
                            <button>
                                <img id="thumbnail<%=f%>" src="/<%=image%>" width="120">
                            </button>
                        </div>
                    <% f++;%>
                    <% }) %>
                </div>
            </div>
            <div class="col-md-5 col-sm-12 mt-5">
                <div class="card w-100">
                    <h5 class="card-header font-sm mb-1 p-4">
                        کد کالا :
                        <span><%=product.productID%></span>
                        <% if(user) if(user.isAdmin) { %>
                        <a onclick="dropThePage('editProduct'); fetchImages()" class="btn btn-dark ml-2"
                           style="height: 40px;width: 50px">
                            <i class="fa fa-edit text-white"></i>
                        </a>
                        <form action="/product/<%=product._id%>?_method=DELETE" method="post" class="d-inline-block">
                            <button type="submit" class="btn btn-dark text-white" style="height: 40px;width: 50px">
                                <i class="fa fa-trash-alt pt-1"></i>
                            </button>
                        </form>
                        <% } %>
                    </h5>
                    <div class="card-body">
                        <div id="product-rating text-center" style="color: #e2e2e2; font-size: 20px">
                            <% var sum = 0;
                                var mean = 0;
                                product.comments.forEach(function(comment) {
                                    sum += comment.rate;
                                })
                                if(product.comments.length!==0) {
                                    mean = Math.ceil(sum / product.comments.length);
                                }
                            %>
                            <% for(var ph1=0;ph1<mean;ph1++) { %>
                                <span class="fa fa-star checked"></span>
                            <% } %>
                            <% for(var ph2=0;ph2<5-mean;ph2++) { %>
                                <span class="fa fa-star"></span>
                            <% } %>
                        </div>
                        <h5 class="card-title mt-4 mb-4 font-md font-bold"><%=product.name%></h5>
                        <hr>
                        <p class="font-light font-sm">: وضعیت موجودی</p>
                        <% if(product.status === 'available') { %>
                        <p class="font-md font-light text-success">- موجود -</p>
                        <% } else if(product.status === 'unavailable') { %>
                        <p class="font-md font-light text-danger">- نا موجود -</p>
                        <% } else { %>
                        <p class="font-md font-light text-warning">- به زودی -</p>
                        <% } %>
                        <hr>
                        <p class="font-md font-light text-info my-4"> <%=product.price%> </p>
                        <form method="POST" action="/cart/add">
                            <input name="productId" type="hidden" value="<%= product._id %>">
                            <div class="btn btn-success text-white">
                                <input type="submit" value="اضافه به سبد خرید" style="background: none; border:none; color: white">
                                <i class="fa fa-plus"></i>
                            </div>
                        </form>
                        
                    </div>
                    <h5 class="card-footer font-sm mb-1 p-4 text-center">
                        <form class="d-inline-block" action="<%=product._id%>/fav/new" method="post">
                            <button class="btn btn-info text-white">
                                <i class="fa fa-heart font-md pt-1"></i>
                            </button>
                        </form>
                        <a href="#" class="btn btn-info text-white" style="width: 55px">
                            <i class="fa fa-share-alt font-md pr-3 pt-1"></i>
                        </a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <hr>
</div>

<section id="recom-dec">
    <h3 class="mx-auto text-center py-4 w-25 border-bottom">محصولات مرتبط</h3>
    <div class="regular slider text-center">
        <% recommends.forEach(function (recommendedProduct) { %>
            <div class="p-3">
                <div class="card product-card">
                    <img class="card-img-top" src="/<%=recommendedProduct.images[0]%>" alt="Card image cap">
                    <i class="fa fa-plus add-to-cart-plus"></i>
                    <div class="card-body">
                        <h5 class="card-title"><a href="/product/<%=recommendedProduct._id%>" style="text-decoration: none"><%=recommendedProduct.name%></a></h5>
                        <p class="card-text font-light" style="font-size: 3vh">
                            <span>تومان</span>
                            <%=recommendedProduct.price%>
                        </p>
                        <a data-id="<%=product.productID%>" 
                            class="btn btn-success add-to-cart-action text-white">اضافه به سبد خرید
                            <i class="fa fa-plus"></i>
                        </a>
                        </a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</section>

<div class="container">
    <hr>
</div>

<div id="product-description">
    <div class="container">
        <nav>
            <div class="nav nav-tabs float-right" id="nav-tab" role="tablist">
                <a class="nav-item nav-link" id="nav-comment-tab" data-toggle="tab"
                   href="#nav-comment" role="tab" aria-controls="nav-comment" aria-selected="true">نظرات</a>
                <a class="nav-item nav-link active" id="nav-details-tab" data-toggle="tab"
                   href="#nav-details" role="tab" aria-controls="nav-details" aria-selected="false">مشخصات</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade" id="nav-comment" role="tabpanel" aria-labelledby="nav-comment-tab">
                <br>
                <br>
                <br>
                <div class="mb-3">
                    <form action="<%=product._id%>/comment/new" method="post">
                        <textarea name="body" class="form-control w-100" placeholder="...دیدگاه خود را ثبت کنید"
                                  rows="3"></textarea>
                        <div class="mt-3">
                            <input type="submit" class="btn btn-lg btn-success text-white float-left mr-3 mb-3" value="ثبت">
                            <div class="form-group pt-2" style="color: #f1f1f1;" id="rating-new">
                                <label class="control-label" for="rating">
                                    <input type="hidden" class="selected-rating-new"
                                           id="selected-rating-new" name="rate" value="" required="required">
                                </label>
                                <span class="fa fa-star btnrating" id="star1-new" data-attr="1" onclick="addRateNew(this,1)"></span>
                                <span class="fa fa-star btnrating" id="star2-new" data-attr="2" onclick="addRateNew(this,2)"></span>
                                <span class="fa fa-star btnrating" id="star3-new" data-attr="3" onclick="addRateNew(this,3)"></span>
                                <span class="fa fa-star btnrating" id="star4-new" data-attr="4" onclick="addRateNew(this,4)"></span>
                                <span class="fa fa-star btnrating" id="star5-new" data-attr="5" onclick="addRateNew(this,5)"></span>
                            </div>
                        </div>
                    </form>
                </div>
                <% product.comments.forEach(function(comment) { %>
                <div class="comment" style="padding-top: 15px">
                    <div class="card w-100">
                        <h5 class="card-header mb-1">
                            <span class="float-right"><%=comment.customer.username%></span>
                            <% if(user) {%>
                                <% if(user['_id'].toString()===comment.customer._id.toString()) { %>
                                    <form action="<%=product._id%>/comment/<%=comment._id%>?_method=DELETE" method="post" class="d-inline">
                                        <input type="submit" class="btn btn-sm btn-danger text-white" value="حذف">
                                    </form>
                                    <button type="button" class="btn btn-sm btn-warning text-white"
                                            data-toggle="modal" data-target="#editComment">ویرایش</button>
                                <% } %>
                            <% } %>
                            <div class="comment-rating d-inline-block ml-3" style="color: lightgray">
                                <% for(var kh1=0;kh1<comment.rate;kh1++) { %>
                                <span class="fa fa-star checked"></span>
                                <% } %>
                                <% for(var kh2=0;kh2<5-comment.rate;kh2++) { %>
                                <span class="fa fa-star"></span>
                                <% } %>
                            </div>
                        </h5>
                        <div class="card-body">
                            <p class="float-right"><%=comment.body%></p>
                        </div>
                    </div>
                </div>
                    <% if(user) { %>
                        <% if(user['_id'].toString()===comment.customer._id.toString()) { %>
                            <div class="modal fade" id="editComment" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="card w-100">
                                            <div class="card-body bg-light">
                                                <div class="container mb-3">
                                                    <form action="<%=product._id%>/comment/<%=comment._id%>?_method=put" method="post">
                                                        <textarea name="body" class="form-control w-100" placeholder="...دیدگاه خود را ثبت کنید"
                                                            rows="3"><%=comment.body%></textarea>
                                                        <div class="form-group pt-2 mt-2 text-center" style="color: #f1f1f1;" id="rating-edit">
                                                            <label class="control-label" for="rating">
                                                                <input type="hidden" class="selected-rating-edit"
                                                                       id="selected-rating-edit" name="rate" value="" required="required">
                                                            </label>
                                                            <% for(var l=1;l<=comment.rate;l++) { %>
                                                                <span class="fa fa-star checked btnrating" id="star<%=l%>-edit" data-attr="<%=l%>"
                                                                      onclick="addRateEdit(this,<%=l%>)"></span>
                                                            <% } %>
                                                            <% for(var ll=comment.rate+1 ;ll <= 5;ll++) { %>
                                                                <span class="fa fa-star btnrating" id="star<%=ll%>-edit" data-attr="<%=ll%>"
                                                                      onclick="addRateEdit(this,<%=ll%>)"></span>
                                                            <% } %>

                                                        </div>
                                                        <input type="submit" class="btn btn-lg btn-warning text-white mt-3 w-100" value="ویرایش">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                <% }) %>
            </div>
            <div class="tab-pane fade show active" id="nav-details" role="tabpanel" aria-labelledby="nav-details-tab">
                <div class="container">
                    <br>
                    <br>
                    <br>
                    <div class="container bg-light  text-right">
                        <h2 class="px-4 pt-4 pb-1">مشخصات محصول</h2>
                        <hr class="w-100">
                        <div class="container px-5 pb-4">
                            <p><%=product.description%></p>
                        </div>
                    </div>
                    <div class="container">
                        <% product.properties.forEach(function (property) { %>
                        <div class="row justify-content-between my-2">
                            <div class="col-md-8 bg-light">
                                <span class="float-right p-2"><%=property.value%></span>
                            </div>
                            <div class="d-none d-md-block col-md-3 bg-light float-right">
                                <span class="float-right p-2"><%=property.key%></span>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="height: 60px"></div>

<% include ../partials/footer.ejs %>

<script src="/js/jquery2_2.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/js/slick.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../src/js/erfanJS.js" type="text/javascript"></script>
<script src="/src/js/erfanJS.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).on('ready', function() {
        $(".regular").slick({
            speed: 300,
            slidesToShow: 3,
            slidesToScroll: 2,
            responsive: [
                {
                    breakpoint: 960,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2,
                        infinite: true,
                    }
                },
                {
                    breakpoint: 650,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
        });
    });
</script>
<script src="/js/ZosoJS.js" type="text/javascript"></script>
<script src="/js/ShJS.js" type="text/javascript"></script>
<script src="/js/filepond.js"></script>
<script src="/js/filepond-plugin-image-preview.js"></script>
<script>
    // Register the plugin
    FilePond.registerPlugin(FilePondPluginImagePreview);
    FilePond.registerPlugin(FilePondPluginFileValidateType);
    // ... FilePond initialisation code here
    FilePond.setOptions({
        server: {
            process: '/product/upload',
            revert: (uniqueFileId, load, error) => {
                    fetch('/product/revert', {
                        method: 'delete',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            path: uniqueFileId
                        })
                    });
                    load();
            }
        }
    });
    const inputElement = document.querySelector('input[type="file"]');
    <%for(var y=0; y<product.images.length; y++) {%>
        $('#thumbnail<%=y%>').click(function () {
            $('#myimage').attr('src', '/<%= product.images[y] %>');
            magnify("myimage", 3);
        });
    <% } %>
</script>
<% for (image of product.images) { %>
    <p style="visibility: hidden" class="images"><%=image%></p>
<% } %>
<script>
    function fetchImages() {
        const pond = FilePond.create(inputElement);
        var elements = document.getElementsByClassName('images');
        for (element of elements) {
            pond.addFile('/' + element.innerHTML);
        }
    }

    function addRateNew(ths,sno){
        let i;
        let cur;

        for (i = 1; i<=5; i++){
            cur = document.getElementById("star" + i + '-new');
            cur.className="fa fa-star btnrating"
        }
        for (i = 1; i<=sno; i++){
            cur = document.getElementById("star" + i + '-new');
            if(cur.className === "fa fa-star btnrating")
            {
                cur.className = "fa fa-star btnrating checked"
            }
        }
    }

    function addRateEdit(ths,sno){
        let i;
        let cur;

        for (i = 1; i<=5; i++){
            cur = document.getElementById("star" + i + '-edit');
            cur.className="fa fa-star btnrating"
        }
        for (i = 1; i<=sno; i++){
            cur = document.getElementById("star" + i + '-edit');
            if(cur.className === "fa fa-star btnrating")
            {
                cur.className = "fa fa-star btnrating checked"
            }
        }
    }

</script>
</body>
</html>
